<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.quest.mapper.CommentMapper">

    <resultMap id="Comment" type="com.quest.athene.domain.model.Comment" extends="com.quest.mapper.BaseMapper.BaseEntity">
        <result column="commentId" property="commentId" />
        <result column="targetId" property="targetId" />
        <result column="content" property="content" />
        <result column="numOfComments" property="numOfComments" />
        <result column="targetType" property="targetType" />
    </resultMap>

    <insert id="submitComment" parameterType="com.quest.athene.domain.model.Comment" useGeneratedKeys="true"
            keyProperty="commentId">
        insert into Comment (targetId,content,numOfComments,targetType)
        values (#{targetId},#{content},#{numOfComments},#{targetType})
    </insert>

</mapper>