<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.alibaba.alimei.dao.IAppInfoMapper">
    <select id="getAppInfoCount" resultType="int"  useCache="true">
	    <![CDATA[
	   select count(*) from appinfo where appname=#{appName} and appkey=#{appKey}
	    ]]>
	</select>

    <select id="getAppInfo" resultType="AppInfo"  useCache="true">
	    <![CDATA[
	   select * from appinfo where appname=#{appName}
	    ]]>
	</select>
</mapper>