<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.alibaba.alimei.dao.IAppVerInfoMapper">
	<select id="getLastAppVer" resultType="AppVerInfo" parameterType="String" useCache="true">
	    <![CDATA[
		select * from appver where AppName=#{appName} order by createtime desc limit 0,1
	    ]]>
	</select>
</mapper>