<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.alibaba.alimei.dao.IContactMapper">

    <resultMap id="ContactMap" type="com.alibaba.alimei.dao.vo.ContactView">
        <result column="team_id" property="teamId" />
        <result column="team_name" property="teamName" />
        <result column="display_name" property="displayName" />
        <result column="email_alias" property="emailAlias" />
        <result column="user_id" property="userId" />
        <result column="phone" property="phone" />
        <result column="user_type" property="userType" />
        <result column="user_name" property="userName" />
        <result column="show_mobile" property="showMobile" />
    </resultMap>

    <select id="getClassContactList" resultMap="ContactMap">
       select distinct team.id team_id, team.description team_name,
       user.role_name display_name,
       user.alias_account email_alias, user.id user_id, account.phone phone, user.type user_type, user.name user_name, account.show_mobile
       from team,
       user_team,
       user,account,
       (
          select distinct user_team.team_id as team_id
          from user, user_team, team
          where user.id= #{userId} and team.type = '2'
          and user.app_name = #{appName}
          and user_team.user_id= user.id and user_team.team_id = team.id
          and user.status = '0' and user_team.status = '0'
       ) classTemp
       where classTemp.team_id= team.id
       and user_team.team_id= classTemp.team_id
       and user_team.user_id= user.id
       and user.account_id = account.id
       and team.domain_id = #{schoolId}
       and team.status = '0' and user_team.status = '0' and user.status = '0' and account.status = '0'
       and team.app_name = #{appName} and user_team.app_name = #{appName} and user.app_name = #{appName} and account.app_name = #{appName}
       and user.biz_status = '1'
       order by team.id, user.type
    </select>
    <select id="getSchoolContactList" resultMap="ContactMap">
        select team.id team_id, team.name team_name, user.role_name display_name,
        user.alias_account email_alias, user.id user_id, account.phone phone,
        user.type user_type, user.name user_name, account.show_mobile
        from
        (select * from team where type = '1' and app_name = #{appName} and status = '0' and domain_id = #{schoolId}) team
        left join (select * from user_team where status = '0' and app_name = #{appName}) user_team on team.id = user_team.team_id
        left join (select * from user where status = '0' and app_name = #{appName})  user on user_team.user_id = user.id
        left join (select * from account where status =  '0' and app_name = #{appName}) account on user.account_id = account.id
    </select>


</mapper>
