<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.alibaba.alimei.dao.IDocPreviewMapper">
    <resultMap id="DocPreviewMap" type="com.alibaba.alimei.dao.vo.DocPreview">
        <result column="id" property="id" jdbcType="VARCHAR" />
        <result column="gmt_create" property="gmtCreate" jdbcType="TIMESTAMP" />
        <result column="gmt_modified" property="gmtModified" jdbcType="TIMESTAMP" />
        <result column="md5_digest" property="md5Digest" jdbcType="VARCHAR" />
        <result column="file_id" property="fileId" jdbcType="VARCHAR" />
    </resultMap>

    <insert id="save" parameterType="DocPreview" useGeneratedKeys="false">
        <![CDATA[
            insert into doc_preview (id, gmt_create, md5_digest, file_id)
            values (#{id}, now(), #{md5Digest}, #{fileId})
	    ]]>
    </insert>

    <select id="queryBy" useCache="true" resultMap="DocPreviewMap">
        <![CDATA[
	        select id, md5_digest, file_id from doc_preview where md5_digest = #{md5Digest}
	    ]]>
    </select>
</mapper>