<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.alibaba.alimei.dao.IPayTaskMapper">

    <resultMap id="PayTaskMap" type="com.alibaba.alimei.dao.vo.PayTask">

        <result column="user_id" property="userId" />
        <result column="user_name" property="userName" />
        <result column="user_alipay" property="userAlipay" />
        <result column="from_alipay" property="fromAlipay" />

        <result column="amount" property="amount" />

        <result column="biz_status" property="bizStatus" />
        <result column="pay_time" property="payTime" />
        <result column="remark" property="remark" />
        <result column="pay_count" property="payCount" />

        <result column="id" property="id" />
        <result column="status" property="status" />
        <result column="gmt_create" property="gmtCreate" />
        <result column="gmt_modified" property="gmtModified" />
        <result column="app_name" property="appName" />
        <result column="app_parent" property="appParent" />
    </resultMap>

    <insert id="clear" >
        delete from pay_task where app_name = #{appName}
    </insert>

    <insert id="insert" parameterType="PayTask" useGeneratedKeys="false">
        insert into pay_task
            (<include refid="allColumns"/>)
        values
            (#{userId},#{userName},
           #{userAlipay},#{fromAlipay},#{amount},#{bizStatus},#{payTime},#{remark},#{payCount},
        #{id}, #{status}, now(), now(), #{appName}, #{appParent})
    </insert>


    <update id="update" parameterType="PayTask">
        update pay_task
        set gmt_modified = now(),
             biz_status=#{bizStatus},pay_count=#{payCount},pay_time=#{payTime},user_name=#{userName},user_alipay=#{userAlipay}
        where id=#{id}
    </update>

    <select id="get" parameterType="java.lang.String" resultMap="PayTaskMap" >
        select * from pay_task
        where id=#{id}
        limit 0,1
    </select>




    <select id="list" parameterType="Map" resultMap="PayTaskMap">
        select * from pay_task
        <where>
            <if test="userId != null">and user_id = #{userId}</if>
            <if test="amount != null">and amount = #{amount}</if>

            <if test="status != null">and status = #{status}</if>
            <if test="bizStatus != null">and biz_status = #{bizStatus}</if>
            <if test="appName != null">and app_name = #{appName}</if>
            <if test="appParent != null">and app_parent = #{appParent}</if>
            <if test="lteq_payTime != null">
                <![CDATA[
             and pay_time <= #{lteq_payTime}
             ]]>
            </if>
            <if test="lteq_payCount != null">
                <![CDATA[
             and pay_count <= #{lteq_payCount}
             ]]>
            </if>
        </where>
        limit #{offset}, #{length}
    </select>

    <sql id="allColumns">
        user_id,user_name,user_alipay,from_alipay, amount,biz_status,pay_time,remark,pay_count,
        id, status, gmt_create, gmt_modified, app_name, app_parent
    </sql>

</mapper>