<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.alibaba.alimei.dao.ISetInfoMapper">
	<select id="getSetInfo" resultType="SetInfo" parameterType="SetInfo" useCache="true">
	    <![CDATA[
	   select * from setinfo where userid=#{userId} and searchKey=#{key}
	    ]]>
	</select>
	<select id="getSetInfos" resultType="SetInfo" parameterType="SetInfo" useCache="true">
	    <![CDATA[
	   select * from setinfo where userid=#{userId}
	    ]]>
	</select>
	<select id="getSetInfoCountByDevice" resultType="int" parameterType="SetInfo" useCache="true">
	    <![CDATA[
	   select count(*) from setinfo where userid=#{userId} and deviceid=#{deviceId} and type='device'
	    ]]>
	</select>
	<insert id="insertSetInfo" parameterType="SetInfo" useGeneratedKeys="false">
		<![CDATA[
	    insert into setinfo (id, userid, mailuid, setkey, setvalue,searchkey,type,deviceid,folderid,foldertype,gmt_create,gmt_modified) values (
	    	#{id}, #{userId}, #{mailUid}, #{setKey}, #{setValue},#{searchKey},#{type},#{deviceId},#{folderId},#{folderType},#{gmt_create},#{gmt_modified})
	    ]]>
	</insert >
	<update id="updateSetInfo" parameterType="SetInfo">
		update setinfo set setValue=#{setValue} where userid=#{userId} and searchKey=#{searchKey}
	</update>

    <select id="getSetInfoTemplate" resultType="SetInfoTemplate" useCache="true">
	    <![CDATA[
	   select * from setinfotemplate
	    ]]>
	</select>

</mapper>