<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.alibaba.alimei.dao.IShippingAddressMapper">

    <resultMap id="ShippingAddressMap" type="com.alibaba.alimei.dao.vo.ShippingAddress">
        <result column="account_id" property="accountId" />
        <result column="name" property="name" />
        <result column="postcode" property="postcode" />
        <result column="province" property="province" />
        <result column="city" property="city" />
        <result column="district" property="district" />
        <result column="phone" property="phone" />
        <result column="address" property="address" />
        <result column="id" property="id" />
        <result column="status" property="status" />
        <result column="gmt_create" property="gmtCreate" />
        <result column="gmt_modified" property="gmtModified" />
        <result column="app_name" property="appName" />
        <result column="app_parent" property="appParent" />
    </resultMap>

    <insert id="clear" useGeneratedKeys="false">
        delete from shipping_address where app_name = #{appName}
    </insert>

    <insert id="insert" parameterType="ShippingAddress" useGeneratedKeys="false">
        insert into shipping_address
            (<include refid="allColumns"/>)
        values
            (#{accountId}, #{name}, #{postcode}, #{province}, #{city}, #{district}, #{phone}, #{address}, #{id}, #{status}, now(), now(), #{appName}, #{appParent})
    </insert>

    <insert id="insertBatch" parameterType="List" useGeneratedKeys="false">
        insert into shipping_address
            (<include refid="allColumns"/>)
        values
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.accountId}, #{item.name}, #{item.postcode}, #{item.province}, #{item.city}, #{item.district}, #{item.phone}, #{item.address}, #{item.id}, #{item.status}, now(), now(), #{item.appName}, #{item.appParent})
        </foreach>
    </insert>

    <update id="update" parameterType="ShippingAddress">
        update shipping_address
        set gmt_modified = now(),
        <trim suffixOverrides=",">
            <if test="accountId != null">account_id = #{accountId},</if>
            <if test="name != null">name = #{name},</if>
            <if test="postcode != null">postcode = #{postcode},</if>
            <if test="province != null">province = #{province},</if>
            <if test="city != null">city = #{city},</if>
            <if test="district != null">district = #{district},</if>
            <if test="phone != null">phone = #{phone},</if>
            <if test="address != null">address = #{address},</if>
            <if test="status != null">status = #{status},</if>
        </trim>
        where id = #{id};
    </update>

    <update id="delete">
        update shipping_address
        set
            status = 1,
            gmt_modified = now()
        where
            id = #{id};
    </update>

    <select id="get" resultMap="ShippingAddressMap">
        select * from shipping_address
        where account_id = #{accountId} and status = '0' and app_name = #{appName}
        limit 0, 1
    </select>

    <select id="count" parameterType="ShippingAddress" resultType="int">
        select count(0) from shipping_address
        <where>
            <if test="accountId != null">and account_id = #{accountId}</if>
            <if test="name != null">and name = #{name}</if>
            <if test="postcode != null">and postcode = #{postcode}</if>
            <if test="province != null">and province = #{province}</if>
            <if test="city != null">and city = #{city}</if>
            <if test="district != null">and district = #{district}</if>
            <if test="phone != null">and phone = #{phone}</if>
            <if test="address != null">and address = #{address}</if>
            <if test="id != null">and id = #{id}</if>
            <if test="status != null">and status = #{status}</if>
            <if test="gmtCreate != null">and gmt_create = #{gmtCreate}</if>
            <if test="gmtModified != null">and gmt_modified = #{gmtModified}</if>
            <if test="appName != null">and app_name = #{appName}</if>
            <if test="appParent != null">and app_parent = #{appParent}</if>
        </where>
    </select>

    <select id="list" parameterType="Map" resultMap="ShippingAddressMap">
        select * from shipping_address
        <if test="shippingAddress != null">
            <where>
                <if test="shippingAddress.accountId != null">and account_id = #{shippingAddress.accountId}</if>
                <if test="shippingAddress.name != null">and name = #{shippingAddress.name}</if>
                <if test="shippingAddress.postcode != null">and postcode = #{shippingAddress.postcode}</if>
                <if test="shippingAddress.province != null">and province = #{shippingAddress.province}</if>
                <if test="shippingAddress.city != null">and city = #{shippingAddress.city}</if>
                <if test="shippingAddress.district != null">and district = #{shippingAddress.district}</if>
                <if test="shippingAddress.phone != null">and phone = #{shippingAddress.phone}</if>
                <if test="shippingAddress.address != null">and address = #{shippingAddress.address}</if>
                <if test="shippingAddress.id != null">and id = #{shippingAddress.id}</if>
                <if test="shippingAddress.status != null">and status = #{shippingAddress.status}</if>
                <if test="shippingAddress.gmtCreate != null">and gmt_create = #{shippingAddress.gmtCreate}</if>
                <if test="shippingAddress.gmtModified != null">and gmt_modified = #{shippingAddress.gmtModified}</if>
                <if test="shippingAddress.appName != null">and app_name = #{shippingAddress.appName}</if>
                <if test="shippingAddress.appParent != null">and app_parent = #{shippingAddress.appParent}</if>
            </where>
        </if>
        limit #{offset}, #{length}
    </select>

    <sql id="allColumns">
        account_id, name, postcode, province, city, district, phone, address,  id, status, gmt_create, gmt_modified, app_name, app_parent
    </sql>

    <update id="updateAllColums" parameterType="ShippingAddress">
        update shipping_address
        set gmt_modified = now(),
            name = #{name},
            postcode = #{postcode},
            province = #{province},
            city = #{city},
            district = #{district},
            phone = #{phone},
            address = #{address}
        where id = #{id}
    </update>
</mapper>