<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.alibaba.alimei.dao.ITokenInfoMapper">

	<select id="getAuthTokenInfo" resultType="AuthTokenInfo"
		useCache="true">
	    <![CDATA[
	   select * from tokeninfo where userId=#{userId} and accesstoken=#{token}
	    ]]>
	</select>

	<select id="getAuthTokenInfoByRf" resultType="AuthTokenInfo"
		useCache="true">
	    <![CDATA[
	   select * from tokeninfo where userId=#{userId} and refreshtoken=#{rfToken} order by gmt_create desc limit 0,1
	    ]]>
	</select>

	<insert id="insertTokenInfo" parameterType="AuthTokenInfo"
		useGeneratedKeys="false">
	         <![CDATA[
	   insert into tokeninfo (id,accessToken,refreshToken,account,appName,appVer,uId,mailBoxId,gmt_Create,gmt_modified,expireTime,rtExpireTime,lastTime,userId,source,deviceid)
	   values(#{id},#{accessToken},#{refreshToken},#{account},#{appName},#{appVer},#{uId},#{mailBoxId},#{gmt_Create},#{gmt_modified},#{expireTime},#{rtExpireTime},#{lastTime},#{userId},#{source},#{deviceId})
	    ]]>
	</insert>
	
	<update id="refreshTokenInfo" >
		<![CDATA[
        update tokeninfo
        set gmt_modified = now(),
        	expiretime = #{expireTime},
        	accesstoken = #{accessToken},
        	source = #{source},
        	appname = #{appName},
        	appver = #{appVer}
        where userId=#{userId} and id=#{id} 
      	]]>
    </update>
	
	<update id="expireUserValidToken" >
		<![CDATA[
        update tokeninfo
        set gmt_modified = now(),
        	expiretime = if (now() > expiretime, expiretime, now()) ,
        	rtexpiretime = if (now() > rtexpiretime, rtexpiretime, now()) ,
        	source = #{source}
        where userId=#{userId} and (expiretime > now() or rtexpiretime > now())
	    ]]>
    </update>
    
    <select id="listUserValidToken" resultType="AuthTokenInfo"
		useCache="true">
	    <![CDATA[
	   select * from tokeninfo where userId=#{userId} and (expiretime > now() or rtexpiretime > now())
	    ]]>
	</select>

</mapper>