<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.alibaba.alimei.dao.IUserTeamMapper">

    <resultMap id="UserTeamMap" type="com.alibaba.alimei.dao.vo.UserTeam">
        <result column="user_id" property="userId" />
        <result column="team_id" property="teamId" />
        <result column="title_type" property="titleType" />
        <result column="status" property="status" />
        <result column="gmt_create" property="gmtCreate" />
        <result column="gmt_modified" property="gmtModified" />
        <result column="app_name" property="appName" />
        <result column="app_parent" property="appParent" />
        <result column="user_type" property="userType" />
        <result column="id" property="id" />
    </resultMap>

    <insert id="clear" useGeneratedKeys="false">
        delete from user_team where app_name = #{appName}
    </insert>

    <insert id="insert" parameterType="UserTeam" useGeneratedKeys="false">
        insert into user_team
            (<include refid="allColumns"/>)
        values
            (#{id}, #{userId}, #{teamId}, #{titleType}, #{status}, now(), now(), #{appName}, #{appParent})
    </insert>

    <insert id="insertBatch" parameterType="List" useGeneratedKeys="false">
        insert into user_team
            (<include refid="allColumns"/>)
        values
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.id}, #{item.userId}, #{item.teamId}, #{item.titleType}, #{item.status}, now(), now(), #{item.appName}, #{item.appParent})
        </foreach>
    </insert>

    <update id="update" parameterType="Map">
        update user_team
        set gmt_modified = now(),
        <trim suffixOverrides=",">
            <if test="userTeam.userId != null">user_id = #{userTeam.userId},</if>
            <if test="userTeam.teamId != null">team_id = #{userTeam.teamId},</if>
            <if test="userTeam.titleType != null"> title_type = #{userTeam.titleType}, </if>
            <if test="userTeam.messagePush != null">message_push = #{userTeam.messagePush},</if>            
            <if test="userTeam.status != null">status = #{userTeam.status},</if>
        </trim>
        where app_name = #{appName} and user_id = #{userId} and team_id = #{teamId} and status = '0'
    </update>

    <update id="delete" parameterType="UserTeam">
        update user_team
        set
            status = 1,
            gmt_modified = now()
        <where>
            app_name = #{appName}
            <if test="userId != null">and user_id = #{userId}</if>
            <if test="teamId != null">and team_id = #{teamId}</if>
        </where>
    </update>

    <select id="get" resultMap="UserTeamMap">
        select * from user_team
        where app_name = #{appName} and user_id = #{userId} and status = 0
        limit 0, 1
    </select>

    <select id="count" parameterType="UserTeam" resultType="int">
        select count(0) from user_team
        <where>
            <if test="userId != null">and user_id = #{userId}</if>
            <if test="teamId != null">and team_id = #{teamId}</if>
            <if test="titleType != null">and title_type = #{titleType}</if>
            <if test="status != null">and status = #{status}</if>
            <if test="appName != null">and app_name = #{appName}</if>
            <if test="appParent != null">and app_parent = #{appParent}</if>
        </where>
    </select>

    <select id="countIgnoreManager" parameterType="UserTeam" resultType="int">
        select count(0) from user_team
        <where>
            title_type != '班主任'
            <if test="userId != null">and user_id = #{userId}</if>
            <if test="teamId != null">and team_id = #{teamId}</if>
            <if test="titleType != null">and title_type = #{titleType}</if>
            <if test="status != null">and status = #{status}</if>
            <if test="appName != null">and app_name = #{appName}</if>
            <if test="appParent != null">and app_parent = #{appParent}</if>
        </where>
    </select>

    <select id="list" parameterType="Map" resultMap="UserTeamMap">
        select * from user_team
        <if test="userTeam != null">
            <where>
                <if test="userTeam.userId != null">and user_id = #{userTeam.userId}</if>
                <if test="userTeam.teamId != null">and team_id = #{userTeam.teamId}</if>
                <if test="userTeam.titleType != null">and title_type = #{userTeam.titleType}</if>
                <if test="userTeam.status != null">and status = #{userTeam.status}</if>
                <if test="userTeam.appName != null">and app_name = #{userTeam.appName}</if>
                <if test="userTeam.appParent != null">and app_parent = #{userTeam.appParent}</if>
            </where>
        </if>
        limit #{offset}, #{length}
    </select>
    
    <select id="listByAccountId" resultMap="UserTeamMap">
    	select a.*, b.type user_type
    	from user_team a, user b
    	where a.user_id = b.id and b.account_id = #{accountId} and a.app_name = #{appName} and a.status = 0 and b.status = 0
    </select>


    <sql id="allColumns">
        id, user_id, team_id, title_type,  status, gmt_create, gmt_modified, app_name, app_parent
    </sql>

    <update id="deleteUserTeam" parameterType="Map">
        update user_team
        set status = '1', gmt_modified=now()
        <where>
            app_name = #{appName}
            <if test="userTeam.userId != null">and user_id = #{userTeam.userId}</if>
            <if test="userTeam.teamId != null">and team_id = #{userTeam.teamId}</if>
            <if test="userTeam.titleType != null">and title_type = #{userTeam.titleType}</if>
        </where>
    </update>


    <update id="deleteAllRelationsByUserId">
        update user_team
        set status = '1', gmt_modified=now()
        <where>
            app_name = #{appName}
            and user_id in
            <foreach collection="userIdList" item="i" open="(" separator="," close=")">#{i}</foreach>

            <if test="titleType != null">and title_type = #{titleType}</if>
        </where>
    </update>

    <select id="getParentTeamInfoByAccountAndStudentId" resultMap="UserTeamMap">
        select ut.*
        from account a, user u, user_team ut
        where u.account_id = a.id
        and u.relation_user_id = #{studentId}
        and a.loginid = #{loginId} and u.id = ut.user_id
        and a.status = '0' and u.status = '0'
        and a.app_name = #{appName} and u.app_name = #{appName} and ut.app_name = #{appName}
        and u.domain_id = #{schoolId}
    </select>

    <select id="listByAliasAccountAndTeamEmail" resultMap="UserTeamMap">
    	select ut.*, u.type user_type
    	from user_team ut, user u, team t
    	where ut.user_id = u.id and ut.team_id = t.id 
    		and u.app_name = #{appName} 
    		and ut.status = 0 and u.status = 0 and t.status = 0 
    		and u.alias_account = #{aliasAccount} and t.email = #{teamEmail}
    </select>
</mapper>