<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.quest.mapper.AnswerMapper" >

    <resultMap id="Answer" type="com.quest.athene.domain.model.Answer" extends="com.quest.mapper.BaseMapper.BaseEntity">
        <result column="id" property="answerId" />
        <result column="content" property="answerContent" />
        <result column="is_accepted" property="isAccepted" />
        <result column="author_id" property="authorId" />
        <result column="question_id" property="questionId" />
        <result column="num_of_votes" property="numOfVotes" />
        <result column="num_of_comments" property="numOfComments" />
    </resultMap>

    <!-- insert statement -->
    <insert id="addAnswerForQuestion" parameterType="Answer" useGeneratedKeys="true"
            keyProperty="answerId">
        insert into answer (author_id,is_accepted,question_id,num_of_comments,num_of_votes,content,is_deleted,creator_id,created_time,modifier_id,modified_time)
        values (#{authorId},#{isAccepted},#{questionId},#{numOfComments},#{numOfVotes},#{answerContent},#{isDeleted},#{creatorId},#{createdTime},#{modifierId},#{modifiedTime})
    </insert>

    <!-- update statement -->
    <update id="updateVoteCountForAnswer" parameterType="long"
            flushCache="true">
        update answer
        <set>
            num_of_votes = num_of_votes +1,
            modified_time = #{modifiedTime},
            modifier_id = #{modifierId}
        </set>
        where id = #{answerId}
    </update>

    <update id="updateCommentCountForAnswer" parameterType="long"
            flushCache="true">
        update answer
        <set>
            num_of_comments = num_of_comments +1,
            modified_time = #{modifiedTime},
            modifier_id = #{modifierId}
        </set>
        where id = #{answerId}
    </update>

    <update id="updateContentByAnswerId" parameterType="Answer"
            flushCache="true">
        update answer
        <set>
            content = #{answerContent},
            modified_time = #{modifiedTime},
            modifier_id = #{modifierId}
        </set>
        where id = #{answerId}
    </update>

    <update id="updateAnswerByAuthorAndQuestionId" parameterType="Answer"
            flushCache="true">
        update answer
        <set>
            <if test="answerContent != null">
                content = #{answerContent},
            </if>
            <if test="answerContent != null">
                is_accepted = #{answerContent},
            </if>
            modified_time = #{modifiedTime},
            modifier_id = #{modifierId}
        </set>
        where author_id = #{authorId} and question_id = #{questionId}
    </update>

    <!-- delete statement -->
    <update id="deleteAnswerByAnswerId" parameterType="long">
      update answer set is_deleted = 'y',modified_time = #{modifiedTime},
            modifier_id = #{modifierId} where id = #{answerId}
    </update>

    <update id="deleteAnswerByQuestionId" parameterType="long">
        update answer set is_deleted = 'y',modified_time = #{modifiedTime},
        modifier_id = #{modifierId} where question_id = #{questionId}
    </update>

    <update id="deleteAnswerByAuthorId" parameterType="long">
        update answer set is_deleted = 'y',modified_time = #{modifiedTime},
        modifier_id = #{modifierId} where author_id = #{authorId}
    </update>

    <!-- select statement -->
    <select id="findAnswerByAnswerId" resultMap="Answer">
        select * from answer where id = #{answerId} and is_deleted = 'n'
    </select>

    <select id="findAnswersByAnswerContent" resultMap="Answer">
        select * from answer where content = #{answerContent} and is_deleted = 'n'
    </select>

    <select id="findAnswersByAuthorId" resultMap="Answer">
        select * from answer where author_id = #{authorId} and is_deleted = 'n'
    </select>

    <select id="findAnswersByQuestionId" resultMap="Answer">
        select * from answer where question_id = #{questionId} and is_deleted = 'n'
    </select>
</mapper>