<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.quest.mapper.BaseMapper">

    <resultMap id="baseEntity" type="com.quest.athene.domain.model.BaseEntity">
        <result column="create_id" property="createId" />
        <result column="create_time" property="createTime" />
        <result column="modifier_id" property="modifierId" />
        <result column="modified_time" property="modifiedTime" />
    </resultMap>

    <insert id="saveVote" parameterType="com.quest.athene.domain.model.Vote" useGeneratedKeys="true"
            keyProperty="voteId">
        insert into UserVotes (voterId,voteTargetId)
        values (#{voterId},#{voteTargetId})
    </insert>

    <select id="findVoteByVoterIdAndAnswerId" resultType="com.quest.athene.domain.model.Vote">
        select * from UserVotes where voterId = #{vote.voterId} and voteTargetId = #{vote.answerId}
    </select>
</mapper>