<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.quest.athene.mapper.QuestionMapper">

    <resultMap id="Question" type="com.quest.athene.domain.model.Question" extends="com.quest.mapper.BaseMapper.BaseEntity" >
        <result column="id" property="questionId" />
        <result column="title" property="questionTitle" />
        <result column="content" property="content" />
        <result column="state" property="state" />
        <result column="author_id" property="authorId" />
        <result column="category_id" property="categoryId" />
        <result column="num_of_exposures" property="numOfExposures" />
        <result column="num_of_answers" property="numOfAnswers" />
        <result column="num_of_comments" property="numOfComments" />
    </resultMap>

    <!-- insert statement -->
    <insert id="submitQestion" parameterType="Question" useGeneratedKeys="true"
            keyProperty="questionId">
        insert into question (author_id,question_title,content,state,category_id,num_of_exposures,num_of_comments,num_of_answers,is_deleted,creator_id,created_time,modifier_id,modified_time)
        values (#{authorId},#{questionTitle},#{content},#{state},#{categoryId},#{numOfExposures},#{numOfComments},#{numOfAnswers},#{isDeleted},#{creatorId},#{createdTime},#{modifierId},#{modifiedTime})
    </insert>

    <!-- select statement -->
    <select id="findQuestionsByQuestionTitle" resultMap="Question">
        select * from question where question_title like CONCAT('%',#{questionTitle},'%')
    </select>

    <select id="findQuestionsByQuestionContent" resultMap="Question">
        select * from question where content like CONCAT('%',#{input},'%')
    </select>

    <select id="findQuestionsByCategoryId" resultMap="Question">
        select * from question where category_id = #{categoryId}
    </select>

    <select id="findQuestionsByState" resultMap="Question">
        select * from question where state = #{state}
    </select>

    <select id="findQuestionsByAuthorId" resultMap="Question">
        select * from question where author_id = #{author_id}
    </select>

    <select id="findQuestionByQuestionId" resultMap="Question">
        select * from question where id = #{question_id}
    </select>

    <select id="lookupCountOfAnswersByQuestionId" resultType="int">
        select count(1) from answer where question_id = #{questionId}
    </select>

    <select id="findQuestions" resultMap="Question">
        select * from question
        <where>
            is_deleted = 'n'
            <if test="questionId!=0">
                and id = #{questionId}
            </if>
            <if test="questionTitle!=null">
                and title like CONCAT('%',#{questionTitle},'%')
            </if>
            <if test="content!=null">
                and content like CONCAT('%',#{content},'%')
            </if>
            <if test="state!=null">
                and state = #{state}
            </if>
            <if test="authorId!=0">
                and author_id = #{authorId}
            </if>
            <if test="categoryId!=0">
                and category_id = #{categoryId}
            </if>

        </where>

    </select>

    <!-- update statement -->
    <update id="fixQuestion" parameterType="com.quest.athene.domain.model.Question"
            flushCache="true">
        update question
        <set>
            <if test="content != null">
                content = #{content},
            </if>
            <if test="questionTitle != null">
                title = #{questionTitle},
            </if>
            <if test="state!=null">
                state = #{state},
            </if>
            <if test="authorId!=null">
                author_id = #{authorId},
            </if>
            <if test="categoryId != 0">
                category_id = #{categoryId},
            </if>

            modified_time = #{modifiedTime},
            modifier_id = #{modifierId}
        </set>
        where id = #{questionId}
    </update>

    <update id="updateAnswerCountByQuestionId" parameterType="com.quest.athene.domain.model.Question"
            flushCache="true">
        update question
        <set>
            num_of_answers = num_of_answers+1,
            modified_time = #{modifiedTime},
            modifier_id = #{modifierId}
        </set>
        where id = #{questionId}
    </update>

    <update id="updateCommentCountByQuestionId" parameterType="com.quest.athene.domain.model.Question"
            flushCache="true">
        update question
        <set>
            num_of_comments = num_of_comments+1,
            modified_time = #{modifiedTime},
            modifier_id = #{modifierId}
        </set>
        where id = #{questionId}
    </update>

    <update id="updateExposureCountByQuestionId" parameterType="com.quest.athene.domain.model.Question"
            flushCache="true">
        update question
        <set>
            num_of_exposures = num_of_exposures+1,
            modified_time = #{modifiedTime},
            modifier_id = #{modifierId}
        </set>
        where id = #{questionId}
    </update>

    <!-- delete statement -->
    <update id="deleteQuestionByQuestionId" parameterType="Question">
        update question set is_deleted = 'y',
            modified_time = #{modifiedTime},
            modifier_id = #{modifierId} where id = #{questionId}
    </update>

    <update id="deleteQuestionsByAuthorId" parameterType="Question">
        update question set is_deleted = 'y',
            modified_time = #{modifiedTime},
            modifier_id = #{modifierId} where author_id = #{authorId}
    </update>

    <update id="deleteQuestionsByCategoryId" parameterType="Question">
        update question set is_deleted = 'y',
            modified_time = #{modifiedTime},
            modifier_id = #{modifierId} where category_id = #{categoryId}
    </update>

    <update id="deleteQuestionByQuestionTitle" parameterType="Question">
        update question set is_deleted = 'y',
            modified_time = #{modifiedTime},
            modifier_id = #{modifierId} where title = #{questionTitle}
    </update>
</mapper>