<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.quest.mapper.QuestionMapper">

    <resultMap id="Question" type="com.quest.athene.domain.model.Question">
        <result column="questionId" property="questionId" />
        <result column="authorId" property="authorId" />
        <result column="content" property="content" />
        <result column="state" property="state" />
        <result column="categoryId" property="categoryId" />
        <result column="numOfExposures" property="numOfExposures" />
        <result column="tagId" property="tagId" />
        <result column="questionTitleId" property="questionTitleId" />
        <result column="numOfComments" property="numOfComments" />
    </resultMap>

    <resultMap id="QuestionTitle" type="com.quest.athene.domain.model.QuestionTitle">
        <result column="questionTitleId" property="questionTitleId" />
        <result column="questionTitleContent" property="questionTitleContent" />
    </resultMap>

    <resultMap id="Answer" type="com.quest.athene.domain.model.Answer">
        <result column="answerId" property="answerId" />
        <result column="authorId" property="authorId" />
        <result column="isAccepted" property="isAccepted" />
        <result column="numOfComments" property="numOfComments" />
        <result column="questionId" property="questionId" />
        <result column="answerContent" property="answerContent" />
    </resultMap>

    <!-- insert statement -->
    <insert id="submitQestion" parameterType="com.quest.athene.domain.model.Question" useGeneratedKeys="true"
            keyProperty="questionId">
        insert into Question (authorId,questionTitleId,content,state,categoryId,numOfExposures,tagId)
        values (#{authorId},#{questionTitleId},#{content},#{state},#{categoryId},#{numOfExposures},#{tagId})
    </insert>

    <insert id="saveQuestionTitle" parameterType="com.quest.athene.domain.model.QuestionTitle" useGeneratedKeys="true"
            keyProperty="questionTitleId">
        insert into QuestionTitle (questionTitleContent)
        values (#{questionTitleContent})
    </insert>

    <insert id="addAnswerForQuestion" parameterType="com.quest.athene.domain.model.Answer" useGeneratedKeys="true"
            keyProperty="answerId">
        insert into Answer (authorId,isAccepted,questionId,numOfComments,answerContent)
        values (#{authorId},#{isAccepted},#{questionId},#{numOfComments},#{answerContent})
    </insert>

    <!-- select statement -->
    <select id="findTitleByTitleContent" resultMap="QuestionTitle">
        select * from QuestionTitle where questionTitleContent = #{title}
    </select>

    <select id="findQuestionTitleByFuzzyInput" resultMap="QuestionTitle">
        select * from QuestionTitle where questionTitleContent like CONCAT('%',#{input},'%')
    </select>

    <select id="lookupCountOfAnswersByQuestionId" resultType="int">
        select count(1) from Answer where questionId = #{questionId}
    </select>

    <!-- update statement -->
    <update id="fixQuestion" parameterType="com.quest.athene.domain.model.Question"
            flushCache="true">
        update Question
        <set>
           content = #{content}
        </set>
        where questionId = #{questionId}
    </update>

    <update id="updateVoteForAnswer" parameterType="long"
            flushCache="true">
        update Answer
        <set>
            numOfVotes = numOfVotes +1
        </set>
        where answerId = #{answerId}
    </update>

</mapper>