<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.quest.mapper.TagMapper">

    <resultMap id="QuestionTag" type="com.quest.athene.domain.model.QuestionTag">
        <result column="tagId" property="tagId" />
        <result column="tagContent" property="tagContent" />
    </resultMap>

    <insert id="submitTag" parameterType="com.quest.athene.domain.model.QuestionTag" useGeneratedKeys="true"
            keyProperty="tagId">
        insert into QuestionTag (tagContent)
        values (#{tagContent})
    </insert>

    <select id="findTagByTagContent" resultMap="QuestionTag">
        select * from QuestionTag where tagContent = #{tag}
    </select>

</mapper>